
@{
    ViewData["Title"] = "Bienvenida";
    Layout = "~/Views/Shared/_LayoutUsuariosLogueados.cshtml";
}

<style>
   /*  body {
        font-family: 'Roboto', sans-serif;
        background-color: white;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    } */

    .welcome-container {
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0.2, 0.2, 0.2, 0.2);
        padding: 40px;
        text-align: left;
        width: 90%;
        max-width: 600px;
        margin-top:10px;
    }

        .welcome-container h1 {
            font-size: 2.8em;
            color: #333333;
            margin-bottom: 15px;
            font-weight: 700;
        }

        .welcome-container p {
            font-size: 1.2em;
            color: #666666;
            margin-bottom: 8px;
            font-weight: 400;
        }

            .welcome-container p.role {
                font-weight: 700;
                color: #555555;
            }
</style>


    <div class="welcome-container">
        <h1>BIENVENIDO A ETZÉL</h1>
        <p class="role">TIPO DE USUARIO: @ViewBag.RolUsuario</p>
    </div>

