@{
    ViewData["Title"] = "Mis Recursos";
    Layout = "~/Views/Shared/_LayoutUsuariosLogueados.cshtml";
}

<div class="row mt-4">
    <div class="col-sm-12">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fa-solid fa-user-group"></i>
                  Listado de Mis Recursos
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <button class="btn btn-success" id="btnNuevo" onclick="abrirModal(null)"> <i class="fa-solid fa-plus"></i>  Publicar Nuevo</button>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12">
                        <table class="display cell-border" id="tbData" cellspacing="0" style="width:100%">
                            <thead>
                               <tr>
                                    <th>Recurso</th>
                                    <th>Descripcion</th>
                                    <th>Sector Economico</th>
                                    <th>Tipo De Recurso</th>
                                    <th>Estado</th>
                                    <th>Precio</th>
                                    <th></th>
                               </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <!--PARTE DE ARRIBA DEL FORMULARIO-->
            <div class="modal-header text-black" style="background-color:rgb(241, 241, 241);">
                <h5 class="modal-title" id="exampleModalLabel">DATOS DE MI RECURSO</h5>
                <button type="button" class="btn-close" style="background-color: white; border: none; color: black;" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>


            <div class="modal-body">
                <!--CAMPOS DEL FORULARIO-->
                <input id="txtId" type="hidden" value="0" />

                <!--CREANDO UN FORMULARIO DENTRO DEL FORM MODAL-->
                <form id="contenedor" class="row">

                    <div class="col-sm-3">
                        <div class="mb-2">
                            <img id="imagenProducto" height="197" width="200" class="border rounded mx-auto d-block img-fluid" />
                        </div>
                        <div class="mb-2">
                            <input class="form-control" type="file" id="fileProd" accept="image/png, image/jpg, image/jpeg" onchange="mostrarImagen(this)" />
                        </div>
                    </div>


                    <div class="col-sm-3">
                        <div class="mb-3">
                            <label class="form-label">Titulo Del Recurso</label>
                            <input type="text" class="form-control" id="txtNombre" name="Nombre" autocomplete="off" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Descripcion Del Recurso</label>
                            <textarea type="text" class="form-control" id="txtDescripcion" style="height:125px;resize:none" name="descripcion"></textarea>
                        </div>
                    </div>


                    <div class="col-sm-3">
                        <div class="mb-3">
                            <label class="form-label">Sector Economico</label>
                            <select id="comboMarca" class="form-select">
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Tipo De Recurso</label>
                            <select id="comboCateg" class="form-select">
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Estado Del Recurso</label>
                            <select id="comboCateg" class="form-select">
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-3">
                         <div class="mb-3">
                            <label class="form-label">Precio Si Aplica</label>
                            <input type="number" class="form-control" id="txtPrecio" name="Precio" autocomplete="off" />
                        </div>
                       
                       
                    </div>

                </form>
            </div>
            <!--BOTONES DE ABAJO-->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" onclick="Guardar()">Guardar</button>
            </div>

        </div>
    </div>
</div>


@section Scripts{

    <script>

        function abrirModal(){

            $("#formModal").modal("show");
        }



    </script>





}

